<!DOCTYPE html>
<html>
    <head>
        <title>ITGlue</title>
        {{!-- <script type="text/javascript" src="/getFileFromServer.js"></script>
        <script type="text/javascript" src="./lab6.js"></script>
        <link rel="stylesheet" type="text/css" href="./lab6.css"> --}}
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
    </body>
</html>